NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres.xxxxxxxxxxxx:mockpassword@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgres.xxxxxxxxxxxx:mockpassword@aws-0-eu-central-1.pooler.supabase.com:5432/postgres
UPSTASH_REDIS_REST_URL=https://mock-redis-region.upstash.io
UPSTASH_REDIS_REST_TOKEN=mock_upstash_rest_token_value
LOG_LEVEL=debug
CLIENT_ORIGIN="https://example.com"