NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres.xxxxxxxxxxxx:mockpassword@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgres.xxxxxxxxxxxx:mockpassword@aws-0-eu-central-1.pooler.supabase.com:5432/postgres
UPSTASH_REDIS_REST_URL=https://mock-redis-region.upstash.io
UPSTASH_REDIS_REST_TOKEN=mock_upstash_rest_token_value
LOG_LEVEL=debug
CLIENT_ORIGIN="https://example.com"
BETTER_AUTH_SECRET=32Chars
BETTER_AUTH_BASE_URL="https://example.com"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER="email@gmail.com"
SMTP_PASS="app-password"
EMAIL_FROM="email@gmail.com"


voxc pwfq vbuc aewt